<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>

		<add name="ConnString" connectionString="Data Source = WIN-1IEK14D6F3Q;Initial Catalog=LouisPharmacy;UID=Administrator;PWD=CNSAcnsa1;"

	 providerName="System.Data.SqlClient" />

	</connectionStrings>
</configuration>