<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="connString" connectionString="Data Source=WIN-1IEK14D6F3Q;Initial Catalog=XYZ_Inc;UID=Administrator;PWD=CNSAcnsa1;"
   providerName="System.Data.SqlClient" />
		
		
  <add name="FinalPhysicianApp.Properties.Settings.XYZ_IncConnectionString"
   connectionString="Data Source=localhost;Initial Catalog=XYZ_Inc;User ID=Administrator;Password=CNSAcnsa1;Encrypt=False;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>

